---
layout: default
---

<section class="section hero">
  <div class="container">
    <div class="hero-content">
      <div>
        <h1>#NoRuKo</h1>
        <p class="date">21st of August 2020,<br>3-9PM CEST</p>
        <p class="description">Join us for a <em>virtual</em> #NoRuKo unconference! (Yes, it's FREE!)</p>

        <div class="livestreams">
          <a href="https://www.youtube.com/watch?v=UUK65-8iLms" class="button" target="_blank" rel="noopener noreferrer">
            Watch the main track
          </a>
          <a href="https://www.youtube.com/watch?v=vqtjB-Wfqzk" class="button" target="_blank" rel="noopener noreferrer">
            Watch the community track
          </a>

          <p>Not sure what to watch? Check out <a href="#schedule">the schedule</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="speakers">
  <div class="container">
    <h2>
      About
      <span class="logo-font">#NoRuKo</span>
    </h2>

    <div class="section-content">
      <p>
        #NoRuKo is a virtual mini-conference filling a bit of the void all the cancelled and postponed events created. The name is a play on the biggest European Ruby Conference, "EuRuKo", which <a href="https://euruko2019.org/">we organized last year</a>. It's been quiet in the Ruby world in terms of online events, with a few (great!!) exceptions.
      </p>
      <h3>Tickets / Registration</h3>
      <p>
        There is no registration required! The event is free, so no tickets!
      </p>
      <p>
        Add the event to your calendar and visit this page when the event starts. <a href="https://everytimezone.com/s/b16d2b0f">Friday 21st of August 2020, 15:00 CEST</a>. Livestreams for both tracks will be at the top of the page.
      </p>
      <p class="cta">
        <a href="https://everytimezone.com/s/b16d2b0f" class="button">＋ Add to calendar</a>
      </p>
    </div>
  </div>
</section>

<section class="section section-dark" id="speakers">
  <div class="container">
    <h2>Speakers</h2>

    <div class="people-list">
      <!-- BEGIN SPEAKER LIST -->

      <div class="person">
        <img src="/assets/images/people/yukihiro_matsumoto.jpg">
        <h3 class="name">
          Yukihiro Matsumoto
        </h3>
        <p class="bio">Creator of Ruby</p>
        <p class="social">
          <a href="https://twitter.com/yukihiro_matz">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/penelope_phippen.jpg">
        <h3 class="name">
          Penelope Phippen
        </h3>
        <p class="bio">Director at rubycentral.org</p>
        <p class="social">
          <a href="https://twitter.com/penelope_zone">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/allison_mcmillan.png">
        <h3 class="name">
          Allison McMillan
        </h3>
        <p class="bio">Director of Engineering, GitHub</p>
        <p class="social">
          <a href="https://twitter.com/allie_p">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/tetiana_chupryna.jpg">
        <h3 class="name">
          Tetiana Chupryna
        </h3>
        <p class="bio">Backend Engineer, GitLab</p>
        <p class="social">
          <a href="https://twitter.com/TetianaOfficial">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/tom_de_bruijn.jpg">
        <h3 class="name">
          Tom de Bruijn
        </h3>
        <p class="bio">Developer, AppSignal</p>
        <p class="social">
          <a href="https://twitter.com/tombruijn">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/miriam_tocino.jpg">
        <h3 class="name">
          Miriam Tocino
        </h3>
        <p class="bio">Dev, Author Zerus & Ona</p>
        <p class="social">
          <a href="https://twitter.com/miriamtocino">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/julik_tarkhanov.jpg">
        <h3 class="name">
          Julik Tarkhanov
        </h3>
        <p class="bio">Lead Engineer, WeTransfer</p>
        <p class="social">
          <a href="https://twitter.com/JulikT">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/victor_shepelev.jpg">
        <h3 class="name">
          Victor Shepelev
        </h3>
        <p class="bio">Principal Developer, Verbit.ai</p>
        <p class="social">
          <a href="https://twitter.com/zverok">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/sian_griffin.jpg">
        <h3 class="name">
          Siân Griffin
        </h3>
        <p class="bio">Co lead crates.io team</p>
        <p class="social">
          <a href="https://twitter.com/sgrif">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/ali_ilman.jpg">
        <h3 class="name">
          Ali Ilman
        </h3>
        <p class="bio">Full-Stack Developer, Suria Labs</p>
        <p class="social">
          <a href="https://twitter.com/thealiilman">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/phil_nash.jpg">
        <h3 class="name">
          Phil Nash
        </h3>
        <p class="bio">Developer Evangelist, Twilio</p>
        <p class="social">
          <a href="https://twitter.com/philnash">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/kir_shatrov.jpg">
        <h3 class="name">
          Kir Shatrov
        </h3>
        <p class="bio">Engineering Lead, Shopify</p>
        <p class="social">
          <a href="https://twitter.com/kirshatrov">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/amr_abdelwahab.jpg">
        <h3 class="name">
          Amr Abdelwahab
        </h3>
        <p class="bio">Lead Software Engineer, Tourlane</p>
        <p class="social">
          <a href="https://twitter.com/amrAbdelwahab">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <!-- END SPEAKER LIST -->
    </div>

    <div class="cta">
      <div class="button button-disabled">Call for Paper is closed</div>
      <p>Thanks everyone for your submissions!</p>
    </div>
  </div>
</section>

<section class="section" id="schedule">
  <div class="container">
    <h2>Schedule</h2>

    <p>#NoRuKo will take place <a href="https://everytimezone.com/s/b16d2b0f">Friday 21st of August</a>.</p>
    <p>All times are in CEST (Central European Summer Time, UTC +02:00).</p>
    <p>The schedule is subject to change.</p>

    <div class="tracks">
      <div class="track">
        <h3>Main track</h3>
        <table>
          <colgroup>
            <col class="time">
            <col class="event">
            <col class="time">
            <col class="event">
          </colgroup>
          <tbody>
            {% for time_entry in site.data.schedule %}
            {% assign entry = time_entry.main %}
            {% case entry.type %}
            {% when "talk" %}
            {% include talk.html time=time_entry.time entry=entry %}
            {% when "panel" %}
            {% include panel.html time=time_entry.time entry=entry %}
            {% when "other" %}
            {% include other.html time=time_entry.time entry=entry %}
            {% when "break" %}
            {% include break.html time=time_entry.time entry=entry %}
            {% endcase %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="track">
        <h3>Community track</h3>
        <table>
          <colgroup>
            <col class="time">
            <col class="event">
            <col class="time">
            <col class="event">
          </colgroup>
          <tbody>
            {% for time_entry in site.data.schedule %}
            {% assign entry = time_entry.community %}
            {% case entry.type %}
            {% when "talk" %}
            {% include talk.html time=time_entry.time entry=entry %}
            {% when "panel" %}
            {% include panel.html time=time_entry.time entry=entry %}
            {% when "other" %}
            {% include other.html time=time_entry.time entry=entry %}
            {% when "break" %}
            {% include break.html time=time_entry.time entry=entry %}
            {% endcase %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="section section-dark" id="team">
  <div class="container">
    <h2>Team</h2>

    <div class="section-content">
      <p>Brought to you by the team behind <a href="https://euruko2019.org/">EuRuKo 2019 Rotterdam</a>, <a href="https://amsrb.org/">Amsterdam.rb</a> and Rails Girls NL.</p>
    </div>

    <div class="people-list">
      <div class="person">
        <img src="/assets/images/people/rayta_van_rijswijk.jpg">
        <h3 class="name">
          Rayta van Rijswijk
        </h3>
        <p class="bio">Developer / community org</p>
        <p class="social">
          <a href="https://twitter.com/raytalks">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/floor_drees.jpg">
        <h3 class="name">
          Floor Drees
        </h3>
        <p class="bio">DevRel PM, Microsoft</p>
        <p class="social">
          <a href="https://twitter.com/floordrees">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/tom_de_bruijn.jpg">
        <h3 class="name">
          Tom de Bruijn
        </h3>
        <p class="bio">Developer, AppSignal</p>
        <p class="social">
          <a href="https://twitter.com/tombruijn">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>

      <div class="person">
        <img src="/assets/images/people/arno_fleming.jpg">
        <h3 class="name">
          Arno Fleming
        </h3>
        <p class="bio">Tech lead, The Next Closet</p>
        <p class="social">
          <a href="https://twitter.com/butcoded">
            <svg class="tw-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 20">
              <use href="#tw-icon" xlink:href="#tw-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="sponsors">
  <div class="container">
    <h2>#NoRuKo is made possible by these great companies</h2>

    <div class="sponsors-list">
      <div class="sponsor">
        <a href="https://fullstaq.com/" target="_blank" rel="noopener noreferrer" class="logo" title="Check out Fullstaq!">
          <figure><img src="/assets/images/sponsors/fullstaq.png" alt="Fullstaq logo"></figure>
        </a>
        <p>Host Sponsor</p>
      </div>

      <div class="sponsor">
        <a href="https://appsignal.com/" target="_blank" rel="noopener noreferrer" class="logo" title="Check out AppSignal!">
          <figure><img src="/assets/images/sponsors/appsignal.png" alt="AppSignal logo"></figure>
        </a>
        <p>Accessibility Sponsor</p>
      </div>
    </div>
  </div>
</section>

<section class="section section-dark" id="code-of-conduct">
  <div class="container">
    <h2>Code of Conduct</h2>

    <div class="section-content">
      <p>
        In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.
      </p>

      <p class="cta">
        <a href="/code-of-conduct" class="button">Read our Code of Conduct</a>
      </p>
    </div>
  </div>
</section>
