.section
  padding: 80px 20px

  text-align: center

.section-content
  p:not(:last-child)
    margin-bottom: 20px

.section-page
  text-align: left

  h1,
  h2,
  h3,
  h4
    text-align: left

  h1
    margin-bottom: 50px

  p ~ h1,
  p ~ h2,
  p ~ h3,
  p ~ h4
    margin-top: 40px

  p
    overflow-wrap: break-word

.section-dark
  background-color: #faedff

.cta
  padding: 20px
  text-align: center

  .button
    margin-bottom: 20px
