.sponsors-list
  display: flex
  flex-wrap: wrap
  align-items: start
  justify-content: center

  margin-top: 40px

  .sponsor
    position: relative
    top: 0
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2)

    a
      display: block
      padding: 20px

    p
      margin-bottom: 10px
      font-size: 0.8rem

    &:hover
      top: -3px
