<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>
      {% if page.title == nil %}
        {{ site.site_title }}
      {% else %}
        {{ page.title }} - {{ site.site_title }}
      {% endif %}
    </title>
    <link href="/assets/stylesheets/site.css" media="screen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/assets/images/favicon.png">

    <meta content="Join us for a virtual #NoRuKo unconference Friday 21st of August 2020 15:00-21:15 CEST!" name="description">
    <meta content="https://noruko.org/" name="host">

    <meta content="article" property="og:type">
    <meta content="#NoRuKo" property="og:title">
    <meta content="Join us for a virtual #NoRuKo unconference Friday 21st of August 2020 15:00-21:15 CEST!" property="og:description">
    <meta content="#NoRuKo" property="og:site_name">
    <meta content="https://noruko.org{{ page.url }}" property="og:url">
    <meta content="https://noruko.org/assets/images/social.png" property="og:image">

    <meta content="@amsrb" property="twitter:site">
    <meta content="@amsrb" property="twitter:creator">
    <meta content="#NoRuKo" property="twitter:title">
    <meta content="Join us for a virtual #NoRuKo unconference Friday 21st of August 2020 15:00-21:15 CEST!" property="twitter:description">
    <meta content="https://noruko.org{{ page.url }}" property="twitter:url">
    <meta content="https://noruko.org/assets/images/social.png" property="twitter:image">
    <meta content="summary_large_image" property="twitter:card">
  </head>

  <body>
    {% include header.html %}
    <div id="main">
      {{ content }}
    </div>
    {% include footer.html %}

    <div style="visibility: hidden; position: absolute; width: 0px; height: 0px; top: -100vh; left: -100vw">
      <svg preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path id="tw-icon" class="st0" fill="currentColor" d="M24,2.368 C23.342,3.38 22.507,4.269 21.545,4.981 C21.553,5.196 21.557,5.416 21.557,5.635 C21.557,12.308 16.606,20 7.548,20 C4.768,20 2.179,19.164 0,17.733 C0.385,17.78 0.778,17.803 1.175,17.803 C3.481,17.803 5.605,16.995 7.29,15.64 C5.135,15.601 3.317,14.141 2.691,12.136 C2.991,12.195 3.301,12.225 3.618,12.225 C4.067,12.225 4.502,12.166 4.915,12.048 C2.661,11.585 0.964,9.544 0.964,7.097 L0.964,7.035 C1.628,7.411 2.389,7.64 3.195,7.665 C1.874,6.759 1.004,5.213 1.004,3.463 C1.004,2.538 1.247,1.67 1.671,0.922 C4.101,3.98 7.728,5.988 11.82,6.199 C11.736,5.829 11.694,5.445 11.694,5.049 C11.694,2.261 13.898,0 16.616,0 C18.033,0 19.313,0.612 20.209,1.593 C21.333,1.368 22.386,0.948 23.338,0.37 C22.97,1.549 22.19,2.538 21.173,3.162 C22.169,3.041 23.118,2.769 24,2.368 Z" id="path-1"></path>
      </svg>
    </div>
  </body>
</html>
